html {
  background-color: rgb(44, 41, 38);
  font-family: 'Krub', sans-serif;
  font-weight: 400;
}


.card-container {
  background-color: rgb(255, 255, 255);
  width: 21.875rem;
  margin: 3.125rem auto;
  box-shadow: 0.1875rem 0.1875rem 0.625rem rgb(201, 200, 200);
}

#ticket {
  color: rgb(58, 58, 58);
  text-align: left;
  padding: 1.875rem 3.125rem 0px 3.125rem;
  margin: 0.625rem 0;
  font-family: 'Zilla Slab', serif;
  font-weight: 600;
  font-size: 1.75rem;
}

.card-info {
  color: rgb(134, 134, 134);
  text-align: left;
  padding: 0 3.125rem;
  margin: 0.625rem 0 1.875rem 0;
}

.price {
  color: rgb(41, 41, 41);
  background-color: rgb(167, 226, 255);
  text-align: center;
  margin: 1.875rem auto 0.625rem auto;
  font-size: 3.125rem;
  font-weight: 600;
}

.price-info {
  color: rgb(134, 134, 134);
  text-align: center;
  margin: 0.625rem 0 1.875rem 0;
  padding: 0 3.125rem;
}

.sub-details {
  width: 18.75rem;
  margin: 1.875rem 3.125rem;
}


.sub-feature {
  display: flex;
}

.icon {
  display: flex;
  width: 0.625rem;
}

.sub-feature-text {
  color: rgb(58, 58, 58);
  padding: 0.125rem;
  margin: 0.3125rem;   
}


.button-container {
  text-align: center;
  margin: 1.875rem 0 0 0;
}

.button {
  color: rgb(0, 170, 255);
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  width: 70%;
  padding: 0.625rem;
  margin: 0 0 30px 0;
  border: 2px solid rgb(224, 224, 224);
  font-size: 1rem;
  font-weight: 600;
}

.button:hover {
  color: white;
  background-color: rgb(0, 170, 255);
  border: 2px solid rgb(255, 255, 255);
}
